.clear {
  opacity: 0;
}

.boards {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.board {
  position: relative;
  margin: 0px 3vw;
  width: 300px;
  height: 300px;
}

.boardImage {
  position: absolute;
  z-index: 0;
}

.boardSquares {
  position: relative;
  z-index: 1;
  /* background-color: rgba(0, 255, 0, 0.1); */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
}

.square {
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px solid black;
  z-index: 2;
  width: 33.33%;
  height: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.boardTitle {
  font-family: 'Kulim Park', sans-serif;
  text-align: center;
  font-size: 1.5em;
  margin-top: 15px;
  color: #2d2d2d;
}

.timeInputView {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeInput {
  height: 25px;
  width: 70px;
  border: 1px solid #757575;
  border-radius: 3px;
  text-align: center;
  font-size: 1.1em;
}

.timeInputText {
  font-family: 'Kulim Park', sans-serif;
  display: inline-block;
  font-size: 1.5em;
  margin-right: 10px;
}

@media only screen and (max-width: 1100px) {
  .board {
    width: 200px;
    height: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .boards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px
  }

  .board {
    margin-top: 35px;
  }

  .timeInputView {
    margin-top: 10px;
  }

  .boardTitle {
    font-size: 1em;
  }
}