.clear {
	opacity: 0.0;
}

.boards {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.board {
 margin: 0px 3em;
}

.boardImage {
  position: absolute;
  z-index: 0;
}

.boardSquares {
  position: relative;
  z-index: 1;
}

.boardTitle {
  text-align: center;
  font-size: 1.5em;
  margin-top: 15px;
  color: #2d2d2d;
}

.square {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px solid black;
  padding: 10px;
  margin: 5px;
  z-index: 4;
}

.timerInputView {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerInput {
  height: 25px;
  width: 30px;
  border: 1px solid #757575;
  border-radius: 3px;
  text-align: center;
  font-size: 1.1em;
}

.timerInputText {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 10px;
}

.topBar {
  background-color: #BFBFBF;
  border-bottom: 2px solid #2D2D2D;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.textDisplay {
  font-size: 2.5em;
  margin: 12px 0;
  width: 350px;
  text-align: center;
  color: #2D2D2D
}

.timerView {
  padding: 2px 15px;
  background: #484848;
  border: 3px solid #1FA889;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: #1FA889;
  font-size: 2em;
}