.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
	background-color: white;
	border: 1px solid black;
}

.blank {
	opacity: 0;
}