.container {}

.clear {
	opacity: 0.0;
}

.boards {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.board {
 margin: 0px 3em;
}

.boardImage {
  position: absolute;
  z-index: -1;
}

.boardSquares {}

.boardTitle {
  text-align: center;
  font-size: 1.5em;
  margin-top: 15px;
}

.square {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.0);
  border: 0px solid black;
  padding: 10px;
  margin: 5px;
}

.textDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  margin-top: 10px;
}